includes:

parameters:
    level: 4
    paths:
        - src
        - config
        - database
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    checkMissingIterableValueType: false
    ignoreErrors:
        - '#^(.*) has invalid return type MongoDB\\Laravel\\Eloquent\\Model\.$#'
        - '#^(.*)Illuminate\\Database\\Eloquent\\Builder::onlyTrashed\(\)\.#'
